div.st-emotion-cache-17c7e5f{
    padding: 6px;
    border: 2px solid rgb(233, 11, 11);
    border-radius: 6px;
    background-color: rgb(139, 165, 90);
    opacity: 0.5;
    text-align: center;
    width: 1200;
    height: 1200;
}
